.name_bridge {
    color: #2179b7;
    font-style: italic;
    font-size: 35pt;
    font-weight: bold;
}
.text {
    font-size: 15pt;
    font-weight: bold;
    text-indent: 2em;
}
.image{
    width: 1000px;
    height: 375px;
}