<!-- Файл содержит шапку сайта -->

<title>Мосты днепропетровской области</title><!-- Название страницы -->

<head> <link href="/view/css/bootstrap.min.css" rel="stylesheet"> </head>
<body>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/view/assets/css/bootstrap-responsive.css" rel="stylesheet">
	<script src="/view/js/bootstrap.min.js"></script>
	<div class="container">
		<div class="row">
			<div class="span9"><p align="center"><img src="/view/icon/header.png" width="1200" height="100" ></p></div>
			<!-- Загружаем картинку -->
		</div>
			<div class="row"><!-- Создаем пункты меню -->
					<ul class="nav nav-pills">
						<li class="active">
						<a href="http://adm.dp.gov.ua/">Ссылка на официальную страницу</a>
						</li>
						<li><a href="https://bridge.com?ref=index">Главная страница</a>
						</li>
						<li><a href="https://bridge.com?ref=towns">Выбор населенного пункта</a>
						</li>
						<li><a href="https://bridge.com?ref=about_us">О сайте</a>
						</li>
						<div align="right"><!-- Выравниваем форму поиска -->
						<li>
							<form class="form-search" action="https://bridge.com?ref=search" method="post">
								<!-- Создаем форму поиска -->
								<input name="search" type="text" class="input-medium search-query">
								<button class="btn btn-large btn-primary" type="submit">Поиск</button>
							</form></a>
						</li>
						</div>
					</ul>
			</div>
	<hr />
</div>
</body>